<div id="fondo-login" class="grid flex align-items-center justify-content-center">
    <div class="col-11 md:col-3 text-center shadow-4 pl-5 pr-5 pt-3 pb-3 bg-white animate__animated animate__backInLeft">
        <img src="logo completo.png" height="40" alt="">
        <p-divider></p-divider>
        <h4>Iniciar sesión</h4>
        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input autofocus class="p-inputtext-sm" pInputText placeholder="Usuario" formControlName="username" />
            </p-inputGroup>
            <p-inputGroup class="mt-3 mb-3">
                <p-inputGroupAddon>
                    <i class="pi pi-lock"></i>
                </p-inputGroupAddon>
                <input type="{{showPass ? 'text' : 'password'}}" class="p-inputtext-sm" pInputText
                    placeholder="Contraseña" formControlName="password" />
            </p-inputGroup>
            <!-- <div class="flex align-items-center justify-content-center mb-3">
                <p-checkbox  [binary]="true" inputId="binary"></p-checkbox>
                <small class="ml-2">Mostrar contraseña</small>
            </div> -->
            <p-button [disabled]="loading" size="small" type="submit" label="Ingresar"></p-button>
        </form>
        @if(loading) {
            <p-progressBar class="m-3" mode="indeterminate" [style]="{'height': '6px'}" />
        }
    </div>
</div>

<p-toast></p-toast>